# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
!node_modules/
node_modules/*
!node_modules/globaloffensive/
node_modules/globaloffensive/*
!node_modules/globaloffensive/handlers.js
!node_modules/globaloffensive/index.js
!node_modules/steam-user/
node_modules/steam-user/*
!node_modules/steam-user/components/
node_modules/steam-user/components/*
!node_modules/steam-user/components/apps.js
data